{% extends "bootstrap/base.html" %}
{% block head %}
{{ super() }}
<script src="{{ url_for('static', filename='js/validation_cnpj.js')}}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
{% endblock %}
{% block title %}BRADOO_TEST{% endblock %}

{% block navbar %}
<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'Vendor')" id="defaultOpen">Vendor</button>
  <button class="tablinks" onclick="openCity(event, 'Product')">Products</button>

</div>
{% endblock %}

{% block content %}
<div class="container">

  {% block page_content %}{% endblock %}

</div>

<script>
  document.getElementById("defaultOpen").click();

  function cnpj(s) {
    let cnpj = s.replace(/[^\d]+/g, '')

    // Valida a quantidade de caracteres
    if (cnpj.length !== 14)
      return false

    // Elimina inválidos com todos os caracteres iguais
    if (/^(\d)\1+$/.test(cnpj))
      return false

    // Cáculo de validação
    let t = cnpj.length - 2,
      d = cnpj.substring(t),
      d1 = parseInt(d.charAt(0)),
      d2 = parseInt(d.charAt(1)),
      calc = x => {
        let n = cnpj.substring(0, x),
          y = x - 7,
          s = 0,
          r = 0

        for (let i = x; i >= 1; i--) {
          s += n.charAt(x - i) * y--;
          if (y < 2)
            y = 9
        }

        r = 11 - s % 11
        return r > 9 ? 0 : r
      }

    return calc(t) === d1 && calc(t + 1) === d2
  }

  function maskCNPJ(n) {
    nMask = n.replace(/\D/g, '')
      .replace(/^(\d{2})(\d{3})?(\d{3})?(\d{4})?(\d{2})?/, "$1.$2.$3/$4-$5")
    return nMask
  }

  function validate_cnpj_bd() {
    
    cnj_capturado = document.getElementById("new-cnpjVendor").value
    document.getElementById("new-cnpjVendor").value = maskCNPJ(cnj_capturado)
    var b = document.querySelector("#createVendor");
    if (cnpj(cnj_capturado) == false) {
          document.getElementById("validateCNJ").innerHTML = "Invalid CNPJ"
          b.setAttribute("disabled", "disabled");
        }
        else {
    n = cnj_capturado.replace('.', '').replace('-', '').replace('/', '').replace('.', '');

    fetch("/get_cnj/" + n)
      .then(response => response.json().then(data => {
          console.log(data)
          if (data['cnpj'] != 'CNPJ not found') {
            document.getElementById("validateCNJ").innerHTML = "CNPJ already exists"
            b.setAttribute("disabled", "disabled");
          } else {
            document.getElementById("validateCNJ").innerHTML = "CNPJ Accepted"
            b.removeAttribute("disabled");
          }
        }
      )
      )
      .catch(function (err) {
        console.error('Failed retrieving information', err);
      });}
    // var xmlhttp = new XMLHttpRequest();
    // xmlhttp.open("GET", "/get_cnj/"+n);
    // xmlhttp.onload = function () {
    // if (xmlhttp.readyState === xmlhttp.DONE) {
    //     if (xmlhttp.status === 200) {
    //       response_cnpj = xmlhttp.response;
    //       if (response_cnpj['cnpj']!=''){
    //         return false
    //       }else{
    //         return true
    //       }
    //     }
    //   }
    // };
    // xmlhttp.send('');
    // console.log(response_cnpj)
  }



  function somenteNumeros(e) {
    var charCode = e.charCode ? e.charCode : e.keyCode;
    if (charCode != 8 && charCode != 9) {
      if (charCode < 48 || charCode > 57) {
        return false;
      }
    }
  }
  function checkbox_delete() {

    var textinputs = document.querySelectorAll('input[type=checkbox]');
    var vendor_checked = [].filter.call(textinputs, function (el) { return el.checked });
    var vendor_list = [];
    for (i = 0; i < vendor_checked.length; i++) { vendor_list.push(vendor_checked[i].attributes.value.textContent) };
    var req_json = JSON.stringify({ "vendor_list": vendor_list });
    var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance 
    xmlhttp.open("POST", "/del/combo");
    xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    xmlhttp.send(req_json);
  }
  editSectionElement = document.querySelector("#editar");
  btnUpdate = document.querySelector("#btnUpdate")

  // Fields
  txtId = document.querySelector("#txtId");
  txtFirst = document.querySelector("#txtFirst");
  txtLast = document.querySelector("#txtLast");
  txtHandle = document.querySelector("#txtHandle");

  // Event Listener
  // btnUpdate.addEventListener("click", (e, data) => {
  //     e.preventDefault();

  //     console.log("Atualizando no banco...")
  //     console.log("ID: ", txtId.value);
  //     console.log("First: ", txtFirst.value);
  //     console.log("Last: ", txtLast.value);
  //     console.log("Handle: ", txtHandle.value);
  //     console.log("Atualizou com sucesso....");

  //     editSectionElement.classList.remove("sec-show");
  //     txtId.value = ""
  //     txtFirst.value = ""
  //     txtLast.value = ""
  //     txtHandle.value = ""

  // })

  function excluir(id) {

    myElement = document.querySelector(`tr[data-id="${id}"]`)
    myElement.remove()

  }

  function editar(dataPeople) {
    editSectionElement.classList.add("sec-show");
    txtId.value = dataPeople.id
    txtFirst.value = dataPeople.First
    txtLast.value = dataPeople.Last
    txtHandle.value = dataPeople.Handle
  }


  function openCity(evt, cityName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }
</script>

<style>
  .sec-invisible {
    opacity: 0;
    transition: all .6s ease;
  }

  .sec-show {
    opacity: 1 !important;
  }
</style>
{% endblock %}