{% extends "bootstrap/base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
<script src="{{ url_for('static', filename='js/index.js')}}"></script>
{% endblock %}
{% block title %}BRADOO_TEST{% endblock %}

{% block navbar %}
<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'Vendor')" id="defaultOpen">Vendor</button>
  <button class="tablinks detailOpen" onclick="openCity(event, 'Product')" id="detailOpen" >Detail Vendor</button>

</div>
{% endblock %}

{% block content %}
<div class="container">

  {% block page_content %}{% endblock %}

</div>
<script src="{{ url_for('static', filename='js/validation_cnpj.js')}}"></script>
<script src="{{ url_for('static', filename='js/vendor.js')}}"></script>

<script>
  // document.getElementById("defaultOpen").click();
  

  //Register Vendor

  editSectionElement = document.querySelector("#editar");
  btnUpdate = document.querySelector("#btnUpdate")

  // Fields
  // txtId = document.querySelector("#txtId");
  // txtFirst = document.querySelector("#txtFirst");
  // txtLast = document.querySelector("#txtLast");
  // txtHandle = document.querySelector("#txtHandle");

  // Event Listener
  // btnUpdate.addEventListener("click", (e, data) => {
  //     e.preventDefault();

  //     console.log("Atualizando no banco...")
  //     console.log("ID: ", txtId.value);
  //     console.log("First: ", txtFirst.value);
  //     console.log("Last: ", txtLast.value);
  //     console.log("Handle: ", txtHandle.value);
  //     console.log("Atualizou com sucesso....");

  //     editSectionElement.classList.remove("sec-show");
  //     txtId.value = ""
  //     txtFirst.value = ""
  //     txtLast.value = ""
  //     txtHandle.value = ""

  // })

</script>

<style>
  .sec-invisible {
    opacity: 0;
    transition: all .6s ease;
  }

  .sec-show {
    opacity: 1 !important;
  }
</style>
{% endblock %}