{% extends "base.html" %}


{% block title %}Bradoo_Test{% endblock %}
{% block page_content %}
<!-- Tab content -->
<br>
<div id="Vendor" class="active">
{% if obj%}
  <div class="table-title">
    <div class="row">
      <div class="col-sm-4">
        <h2> <b>Vendor</b></h2>
      </div>
    </div>
  </div>

  <table class="table table-hover">
    <thead>
      <tr class='row'>
        <th scope="col">ITEM</th>
        <th scope="col">NAME</th>
        <th scope="col">CNPJ</th>
        <th scope="col">CITY</th>
        <th scope="col"></th>
        <!-- <th scope="col"></th> -->
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for objeto in obj%}
      <tr class='row' data-id="{{objeto.id}}">
        <td class='col-sm-2'><input type="checkbox" name="vendor" value="{{objeto.id}}"></td>
        <td class='col-sm-2'>{{objeto.name}}</td>
        <td class='col-sm-2'>{{objeto.cnpj}}</td>
        <td class='col-sm-2'>{{objeto.city}}</td>
        <td class='col-sm-1'><button data-toggle="modal" data-target="#vendorModal" class="btn btn-warning" onclick="editar({{objeto}})">Edit</button></td>
        <td class='col-sm-1'><button type="button" class="btn btn-danger" onclick="excluir({{objeto.id}})">Delete</button>     </td>
        <!-- <td class='col-sm-1'><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#productModal" data-whatever="@mdo">Insert Product</button></td> -->
        <td class='col-sm-1'><button class="btn btn-secondary" ><a href="get/{{objeto.id}}">Insert Product</a></button></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>-
  <div class="col-sm-4">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#vendorModal" onclick="new_vendor()">New Vendor</button>
    <button type="submit" class="btn btn-danger" onclick="checkbox_delete()">Delete Selected</button>
    
    
    <!-- MODAL VENDOR INSERT-->
    <div class="modal fade" id="vendorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><input type="hidden" id="id-Vendor">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Name:</label>
                <input type="text" onkeyup="input_name_validation()" class="form-control is-invalid" id="new-nameVendor" name="name" required>
                <div id="invalid-name">
                </div>
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label">CNPJ:</label>
                <input type="text" class="form-control" id="new-cnpjVendor" name="cnpj" onkeypress="return somenteNumeros(event)" onblur="validate_cnpj_bd('new-cnpjVendor')" required>
                <div id="validateCNJ"></div>
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label">City:</label>
                <input type="text" class="form-control" id="new-cityVendor" name="city"></textarea>
              </div>
              <!-- <div class="form-group">
                <label for="message-text" class="col-form-label">City:</label>
                <input type="text" class="form-control" id="new-cityVendor" name="city"></textarea>
              </div> -->
              #TODO insert tags multiple for PRODUCT
              <div class="form-group mx-sm-3 mb-2">
                <label for="product" class="col-form-label">Product</label>
                <input type="text" class="form-control" id="product" placeholder="New Product">
              </div>
              <button type="submit" class="btn btn-primary mb-2">Confirm identity</button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-success" id="createVendor" disabled onclick="validation_form()" >Save</button>
          </div>
        </div>
      </div>
    </div>

      <!-- Produc VENDOR INSERT-->
      <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <span><b>Product</b><span id="vendor-name-detail"></span></span>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Recipient:</label>
                  <input type="text" class="form-control" id="recipient-name">
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Message:</label>
                  <textarea class="form-control" id="message-text"></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Send message</button>
            </div>
          </div>
        </div>
      </div>

  </div>
  <br>
  <hr />
{% endif %}
</div>

<div id="Product" class="tabcontent" >
{% if vendor_id%}
<!-- PRODUCT LIST -->
  <div class="table-title">
    <div class="row">
      <div class="col-sm-8">
        <h2>Product <b>Details</b></h2>
      </div>
      
    </div>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ITEM</th>
        <th scope="col">NAME</th>
        <th scope="col">CNPJ</th>
        <th scope="col">CITY</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr data-id="{{vendor_id.id}}">
        <th scope="row">{{vendor_id.id}}</th>
        <td class='col-sm-2'>{{vendor_id.name}}</td>
        <td class='col-sm-2'>{{vendor_id.cnpj}}</td>
        <td class='col-sm-2'>{{vendor_id.city}}</td>
        <td class='col-sm-2'><button  onclick="excluir({{vendor_id.id}})">X</button></td>
        <td class='col-sm-1'><button class="btn btn-warning" onclick="editar({{vendor_id}})">Editar</button></td>
        <td class='col-sm-1'><button><a href="#">VER</a></button></td>
      </tr>
    </tbody>
  </table>r
  <br>
  <hr />
<script>
  document.getElementById("detailOpen").style.visibility = "visible"
  document.getElementById("detailOpen").click(); 
  
</script>
{% endif %}
</div>
{% endblock %}

#TODO fazer um modal para insert VENDOR